__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pythonlibs/
env/
venv/
ENV/
.venv
*.log
*.pot
*.pyc
.pytest_cache/
.coverage
htmlcov/
.tox/
.DS_Store
.env
.flaskenv
instance/
.webassets-cache
.scrapy
*.sage.py
.ipynb_checkpoints
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
